<section id="refer-a-friend">
  <div class="container">
    <div class="row #c8e6c9 green lighten-2">
      <div class="row">
        <div style="padding-top: 25px;" class="col s2 center-align">
          <i class="material-icons center refer-icon">monetization_on</i>
       </div>
        <div class="col s10 left-align refer-text">
          <h1>Pass on the Soul</h1>
          <p>
            Refer a friend and help them transform their finances.
          </p>
          <a data-target="#" class="waves-effect #7cb342 light-green darken-3 btn-large refer-button"><i class="material-icons right">mode_edit</i>Invite Friends</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="profile-info">

  <div class="container">

    <div class="row">
      <div class="col s4 center-align picture-container">
        <div class="picture-info">

          Profile Picture

          <h3>Hello <%= user.firstName %>!</h3>

          <a>View Profile</a>
        </div>
      </div>

      <div class="col s8 account-container center-align">
        <div class="account-info">
          <h2>Current Level: 1</h2>
          <h5>Points left for next level: <span><strong>400</strong></span></h5>

        </div>
      </div>
    </div>

  </div>
</section>
