<section>

</section>

<section id="refer-a-friend">
  <div class="container">
    <div class="row #c8e6c9 green lighten-2">
      <div class="row">
        <div style="padding-top: 25px;" class="col s2 center-align">
          <i class="material-icons center refer-icon">monetization_on</i>
          <!-- <img src="./images/bitcoin-logo.png" /> -->
       </div>
        <div class="col s10 left-align refer-text">
          <h1>Pass on the Soul</h1>
          <p>
            Refer a friend and help them transform their lives.
          </p>
          <a data-target="invite-friends-modal" class="waves-effect #7cb342 light-green darken-3 btn-large refer-button"><i class="material-icons right">mode_edit</i>Invite Friends</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="profile-info">

  <div class="container">

    <div class="row">
      <div class="col s12 picture-container">
        <div class="picture-info center-align">

          <!-- Profile Picture -->
          <!-- <img  id="landing-image" src="https://unsplash.it/200/300/?random" /> -->
          <div class="row">
            <div class="col s12">

              <span id="hello-text">Hello <%= user.firstName %>!</span>
            </div>

          </div>

          <!-- <a>View Profile</a> -->
        </div>
      </div>
    </div>

    <div class="account-container account-info">
      <div class="container">
        <div class="row">
          <div class="col s12 center-align">
              <h2>Investment Plans</h2>
          </div>
        </div>

        <div class="row">
        <% for(let columnCount, index = 0; index < plans.length;columnCount +=1, index+=1 ){ %>
          <% if(columnCount % 3 === 0){ %>
            <div class="row">
          <% } %>
          <div class="col s4">
            <% if (plans[index].planName === 'Green'){ %>
              <div class="plan-1 center-align boxshadow">
            <% } else if (plans[index].planName === 'Blue'){ %>
              <div class="plan-2 center-align boxshadow">
            <% } else if (plans[index].planName === 'Purple'){ %>
              <div class="plan-3 center-align boxshadow">
            <% } else if (plans[index].planName === 'Yellow'){ %>
              <div class="plan-4 center-align boxshadow">
            <% } else if (plans[index].planName === 'Orange'){ %>
              <div class="plan-5 center-align boxshadow">
            <% } else if (plans[index].planName === 'Red'){ %>
              <div class="plan-6 center-align boxshadow">
            <% } %>
              <h3>$<%= plans[index].value %></h3>
              <!-- <a href="https://www.coinbase.com/oauth/authorize?client_id=7e8aa24b457233fa324dec39c65e00642cf2ca6edf9b8d54cda54b51a972d4a0&redirect_uri=https%3A%2F%2Fnewsoultransformation.net%2Fcallback&response_type=code&scope=wallet%3Auser%3Aread" class="waves-effect #7cb342 light-green darken-3 btn-large refer-button">Buy Position</a> -->
              <a href="/plans/<%= plans[index]._id %>" class="waves-effect #7cb342 light-green darken-3 btn-large refer-button">Buy Position</a>

            </div>
          </div>
          <% if(columnCount % 3 === 0){ %>
            </div>
          <% } %>
        <% } %>
      </div>
      </div>
    </div>
  </div>
</section>

<div id="invite-friends-modal" class="modal">
  <a class="right-align modal-action modal-close"><i class="material-icons waves-effect">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">Tell Some Friends</h4>
    <div class="row">
      <form action="/invite/<%= user.id %>" method="post" class="col s12">
        <div class="row">
          <div class="input-field col s3">
            <i class="material-icons prefix">account_circle</i>
            <input id="first_name" type="text" class="validate" name="firstName">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s3">
            <i class="material-icons prefix">account_circle</i>
            <input id="last_name" type="text" class="validate" name="lastName">
            <label for="last_name">Last Name</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">mail</i>
            <input id="email" type="email" class="validate" name="email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">edit</i>
            <textarea id="userMessage" class="materialize-textarea" name="userMessage"></textarea>
            <label for="userMessage">Message</label>
          </div>
        </div>
        <div class="row center-align">
          <button id="invite-button" class="btn waves-effect #7cb342 green lighten-2" type="submit" name="action">Invite
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
