<section class="center-align">
  <h1>Plan Name: <%= plan.planName %> </h1>
  <h1>Plan Value: <%= plan.value %> </h1>
  <h1>Charge Amount: <%= plan.chargeAmount %> </h1>
  <h1>Plan Fee: <%= plan.fee %> </h1>

  <!-- <a href="https://www.coinbase.com/oauth/authorize?client_id=7e8aa24b457233fa324dec39c65e00642cf2ca6edf9b8d54cda54b51a972d4a0&redirect_uri=https%3A%2F%2Fnewsoultransformation.net%2Fcallback&response_type=code&scope=wallet%3Auser%3Aread" class="waves-effect #7cb342 light-green darken-3 btn-large refer-button">Buy Position</a> -->
  <a href="/check-payment" class="waves-effect #7cb342 light-green darken-3 btn-large refer-button">Buy Position</a>

</section>
