<section>
  <h1>Plan Name: <%= plan.planName %> </h1>
  <h1>Plan Value: <%= plan.value %> </h1>
  <h1>Plan Fee: <%= plan.fee %></h1>

  <a href="/my-coinbase" class="waves-effect #7cb342 light-green darken-3 btn-large refer-button">Buy Position</a>
</section>
