

<section class="center-align">

  <div id="signup-modal" class="container" style="padding: 125px 0;">
    <div class="row">
      <div class="col s12">

        <h3 class="center-align">Sign up</h3>
        <% if (typeof errorMessage !== "undefined") { %>
          <div class="error"><%= errorMessage %></div>
        <% } %>
        <br><br>
        <div class="row">
          <form action="/signup" method="post" class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="first_name" type="text" class="validate" name="firstName">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="last_name" type="text" class="validate" name="lastName">
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mail</i>
                <input id="email" type="email" class="validate" name="email">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row center-align">
              <button class="btn waves-effect #42a5f5 blue lighten-1" type="submit" name="action">Submit
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</section>
