<section>
  <div class="row">
    <div id="referral-link" class="col s12">
      Your referral URL is:
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h3>Your Sponsor</h3>
      <div class="col s9 offset-s3">
        Name:
        User:
        Email:
      </div>
    </div>
    <div class="row">
      <h3>Personal Information</h3>
      <div class="col s9 offset-s3">
        Full Name:
        <br />
        Username:
        <br />
        City:
        <br />
        Address:
        <br />
        Phone:
        <br />
        New Pasword:
        <br />
        Confirm New Password:
        <br />
      </div>
    </div>

    <div class="row">
      <h3>Configuration</h3>
      <div class="col s9 offset-s3">
        Wallet Address:
        Email:
        Current Password:
      </div>
    </div>

  </div>
</section>
