<section>
  <div class="container">
    <div class="row">

      <div id="content" class="col s12">

        <div class="control-panel">

          <div class="panel-item hoverable">
            <div class="center-align">
              <i class="material-icons center">dashboard</i> Dashboard
            </div>
          </div>
          <div class="panel-item hoverable">
            <div class="center-align">
              <i class="material-icons prefix">supervisor_account</i> Users
            </div>
          </div>
          <div class="panel-item hoverable">
            <div class=" center-align">
              <i class="material-icons prefix center">store</i> Store
            </div>
          </div>
          <div class="panel-item hoverable">
            <div class="center-align">
              <i class="material-icons prefix">payment</i>Billing
            </div>
          </div>
          <div class="panel-item hoverable">
            <div class="center-align">
              <i class="material-icons prefix">assessment</i> Reports
            </div>
          </div>
          <div class="panel-item hoverable">
            <div class="center-align">
              <i class="material-icons prefix">record_voice_over</i> Broadcast
            </div>
          </div>
          <div class="panel-item hoverable">
            <div class="center-align">
              <i class="material-icons prefix">settings</i> Settings
            </div>
          </div>
          <div class="panel-item hoverable">
            <div class="center-align">
              <i class="material-icons prefix">settings_applications</i> System
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</section>
