<section>
  <div class="">
    <div class="row">
      <div class="col s2">
        <ul class="collection">
          <a href="#!" class="collection-item active"><i class="material-icons prefix menu_icon">dashboard</i><span class="menu-label">DashBoard</span></a>
          <a href="#!" class="collection-item"><i class="material-icons prefix menu-icon">supervisor_account</i><span class="menu-label">Users</span></a>
          <a href="#!" class="collection-item"><i class="material-icons prefix menu-icon">store</i><span class="menu-label">Store</span></a>
          <a href="#!" class="collection-item"><i class="material-icons prefix menu-icon">payment</i><span class="menu-label">Billing</span></a>
          <a href="#!" class="collection-item"><i class="material-icons prefix menu-icon">assessment</i><span class="menu-label">Reports</span></a>
          <a href="#!" class="collection-item"><i class="material-icons prefix menu-icon">record_voice_over</i><span class="menu-label">Broadcast</span></a>
          <a href="#!" class="collection-item"><i class="material-icons prefix menu-icon">settings</i><span class="menu-label">Settings</span></a>
          <a href="#!" class="collection-item"><i class="material-icons prefix menu-icon">settings_applications</i><span class="menu-label">System</span></a>
        </ul>
      </div>
      <div id="content" class="col s10">

      </div>
    </div>
  </div>

</section>
