<div  id="hero-section" class="parallax-container">
  <div class="overlay">

    <div class="parallax"><img src="images/health.jpeg"></div>

     <div class="container">
     <div class="valign">
         <div class="row">
           <div class="col s6 valign-wrapper" style="height: 80vh;">
             <div class="valign">
               <h1>Live the life that you want.</h1>
               <hr>
               <h2><span>Feed your</span> soul.</h2>
             </div>
           </div>
           <div class="col s6 valign-wrapper right-content" style="height: 80vh;">
             <div style="width: 100%;" class="valign center-align">
               <h2><span>Sign Up</span></h2>
               <a data-target="signup-modal" class="waves-effect #7cb342 light-green darken-1 btn-large"><i class="material-icons right">mode_edit</i>Today</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
</div>


<section id="product-section">
    <div class="container center-align">
        <h2>Products / Services</h2>
        <hr>
        <div class="row">
            <div class="col m4 s12">
              <div class="product-item z-depth-3">
                <img src="images/rep.png" alt="">
                <p>Health</p>
                <a data-target="modal-health" class="waves-effect #7cb342 light-blue lighten-1 btn-large">More Info</a>
              </div>
            </div>
            <div class="col m4 s12">
              <div class="product-item z-depth-3">
                <img src="images/city.png" alt="">
                <p>Home</p>
                <a data-target="modal-home" class="waves-effect #7cb342 light-blue lighten-1 btn-large">More Info</a>
              </div>
            </div>
            <div class="col m4 s12">
              <div class="product-item z-depth-3">
                <img src="images/message.png" alt="">
                <p>Phone</p>
                <a data-target="modal-phone" class="waves-effect #7cb342 light-blue lighten-1 btn-large">More Info</a>
              </div>
            </div>
        </div>

</section>

<section id="about-section" class="parallax-container">
  <div class="overlay">

     <div class="parallax"><img src="../images/finances.jpeg"></div>

     <div class="container">
       <h2 class="center-align">About Us</h2>
       <hr>
       <div class="row">
         <div class="col s12">
           <p>
             New Soul Transformation is commited to bettering the lives of all who
             use our services. Live is too short to have to worry about where you
             are going to get money to cover the next set of bills. Life should have purpose
             and meaning an most of all <span>soul.</span>
           </p>
         </div>
           <!-- <div class="col s4">
             <p><i class="ion-checkmark-circled"></i>Headphones Plug</p>
             <p><i class="ion-checkmark-circled"></i>Power button</p>
             <p><i class="ion-checkmark-circled"></i>Water Damage</p>
             <p><i class="ion-checkmark-circled"></i>Home Button</p>
             <p><i class="ion-checkmark-circled"></i>Charging Port</p>
           </div>
             <div class="col s4">
               <p><i class="ion-checkmark-circled"></i>Side Buttons</p>
               <p><i class="ion-checkmark-circled"></i>Speakers Wifi/Bluetooth</p>
               <p><i class="ion-checkmark-circled"></i>Battery</p>
               <p><i class="ion-checkmark-circled"></i>Screen</p>
               <p><i class="ion-checkmark-circled"></i>Won't turn on</p>
             </div>
             <div class="col s4">
               <h3>Devices</h3>
               <a href="">iPhone</a>
               <a href="">Samsung Galaxy</a>
               <a href="">iPad</a>
             </div> -->
       </div>
     </div>
     </div>
</section>

<!-- Modals -->

<div id="modal-health" class="modal modal-fixed-footer">
  <div class="modal-content center-align">
    <h2>Our Health Services</h2>
    <p>Ensure that you are able are getting only the purest water to your body.
    </p>
  </div>
  <div class="modal-footer">
    <a href="/signup" class="modal-action modal-close waves-effect waves-green btn-flat">Sign Me Up</a>
  </div>
</div>

<div id="modal-home" class="modal modal-fixed-footer">
  <div class="modal-content center-align">
    <h2>Our Home Services</h2>
    <p>New Soul Transformation can help you meet all your fincanial responsibilies!</p>
  </div>
  <div class="modal-footer">
    <a href="/signup" class="modal-action modal-close waves-effect waves-green btn-flat">Sign Me Up</a>
  </div>
</div>

<div id="modal-phone" class="modal modal-fixed-footer">
  <div class="modal-content center-align">
    <h2>Our Phone Services</h2>
    <p>With New Soul Transformation you can achieve a $0 phone bill!</p>
  </div>
  <div class="modal-footer">
    <a href="/signup" class="modal-action modal-close waves-effect waves-green btn-flat">Sign Me Up</a>
  </div>
</div>
