<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/admin.css">
    <link rel="stylesheet" href="stylesheets/dashboard.css">
  </head>

  <nav class="#212121 grey darken-4">
    <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"> New <span>Soul</span> Transformation</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="#product-section">Products</a></li>
        <li><a href="#about-section">About</a></li>
        <li><a href="#contact-section">Contact</a></li>
        <li><a data-target="signup-modal">Sign Up</a></li>
        <!-- <li><a href="collapsible.html">Contact</a></li> -->
        <% if (user){ %>
          <% if (user.role === "ADMIN"){ %>
            <li><a href="/admin" class="waves-effect #42a5f5 blue lighten-1 btn">Admin</a></li>
          <% } else{ %>
            <li><a href="/dashboard" class="waves-effect #42a5f5 blue lighten-1 btn">Dashboard</a></li>
          <% }%>
          <li><a href="/logout" class="waves-effect #42a5f5 blue lighten-1 btn">Log Out</a></li>
        <% } else { %>
          <li><a data-target="login-modal" class="waves-effect #42a5f5 blue lighten-1 btn">Log In</a></li>
        <% } %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/s">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#signup-modal">Sign Up</a></li>
        <li><a href="#login-modal">Log In</a></li>
      </ul>
    </div>
    </div>
  </nav>



  <body>
    <%- body %>
  </body>

  <footer id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col s3 left-align">
          <h3>New Soul Transformation</h3>
        </div>
        <div class="col s3 left-align">
          <h3>Help</h3>
        </div>
        <div class="col s3 left-align">
          <h3>Contact</h3>
        </div>
        <div class="col s3 left-align">
          <h3>Follow us</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s3 content-footer">
          <a href="#">Products/Services</a>
          <a href="">How it works</a>
          <a href=""></a>
        </div>
        <div class="col s3 content-footer">
          <a href="#">FAQ</a>
          <a href="#">Terms of use</a>
        </div>
        <div class="col s3 content-footer">
          <p>Call: (786) 443-5650</p>
          <p>soultrahsformation@gmail.com</p>
        </div>
        <div class="col s3 left-align">
          <a class="social" href=""><i class="ion-social-facebook"></i></a>
          <a class="social" href=""><i class="ion-social-instagram"></i></a>
          <a class="social" href=""><i class="ion-social-twitter"></i></a>
        </div>
      </div>
    </div>
  </footer>

  <!-- MODAL -->

  <div id="login-modal" class="modal">
    <a class="right-align modal-action modal-close"><i class="material-icons">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">Log In</h4>
    <div class="row">
          <div class="row">
            <form action="/login" method="post" class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="email" type="email" class="validate" name="username">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock</i>
                  <input id="password" type="password" class="validate" name="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row center-align">
                <button class="btn waves-effect #42a5f5 blue lighten-1" type="submit" name="action">Login
                </button>
              </div>
              <div class="row center-align">
                <p>Don't have an account?</p>
                <a class="create-account" data-target="signup-modal">Create an Account</a>
              </div>
            </form>
          </div>
    </div>
  </div>
  </div>


  <div id="signup-modal" class="modal">
    <a class="right-align modal-action modal-close"><i class="material-icons waves-effect">close</i></a>
  <div class="modal-content">
    <h4 class="center-align">Sign up</h4>
    <div class="row">
      <form action="/signup" method="post" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="first_name" type="text" class="validate" name="firstName">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="last_name" type="text" class="validate" name="lastName">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="phone" type="tel" class="validate" name="phone">
            <label for="phone">Phone</label>
          </div>
          <div class="input-field col s3">
            <i class="material-icons prefix">phone</i>
            <input id="taxIdSSN" type="text" class="validate" name="taxIdSSN">
            <label for="taxIdSSN">Tax ID or SSN</label>
          </div>
          <div class="input-field col s3">
            <i class="material-icons prefix"></i>
            <input id="dateOfBirth" type="text" class="validate" name="dateOfBirth">
            <label for="dateOfBirth">Birthday</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <i class="material-icons prefix">Address</i>
            <input id="street" type="tel" class="validate" name="street">
            <label for="street">Address (Street)</label>
          </div>
          <div class="input-field col s3">
            <i class="material-icons prefix"></i>
            <input id="city" type="text" class="validate" name="city">
            <label for="city">City</label>
          </div>
          <div class="input-field col s2">
            <i class="material-icons prefix">state</i>
            <input id="state" type="text" class="validate" name="state">
            <label for="state">State</label>
          </div>
          <div class="input-field col s3">
            <i class="material-icons prefix">zip</i>
            <input id="zip" type="text" class="validate" name="zip">
            <label for="zip">Zip</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">mail</i>
            <input id="email" type="email" class="validate" name="email">
            <label for="email">Email (Username)</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix">lock</i>
            <input id="password" type="password" class="validate" name="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">language</i>
            <input id="language" type="text" class="validate" name="language">
            <label for="language">Preferred Language (English or Spanish)</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix">contact_phone</i>
            <input id="referredBy" type="text" class="validate" name="refferedBy">
            <label for="referredBy">Referred By (Name)</label>
          </div>
        </div>
        <div class="row center-align">
          <button class="btn waves-effect #42a5f5 blue lighten-1" type="submit" name="action">Submit
          </button>
        </div>

        <div class="row center-align">
          <h6>Already have an account?</h6>
          <a class="create-account" href="/login">Log In Here</a>
        </div>
      </form>
    </div>
  </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <script type="text/javascript" src="javascripts/app-jquery.js"></script>
</html>
