<section id="subscribed">
	<div class="container center-align">
		<div class="row">
			<h3 style="font-size:80px; text-transform:uppercase; padding-top: 20px;">Thank You!</h3>
			<h3 style="font-size:60px;">Your monthly subscription has been processed.</h3>
			<img src="../../images/check.png" />
			<!-- <i class="material-icons center refer-icon" style="color:#85BC3C;">done</i> -->
			<h4 style="text-transform: uppercase;">return to your dashboard</h4>
			<h6 style="text-transform: uppercase; padding-bottom: 10px;"><span><a href="/dashboard">(click here)</a></span></h6>
		</div>
		<!-- <div class="row">
			<pre>
				<%= data %>
			</pre>
		</div> -->
	</div>
</section>
