.menu-label {
  font-size: 18px;
  padding-left: 5px;
  color: #42A5F5;
}

.menu-icon {
  /*padding-top: 1px;*/
  color: #42A5F5;
}



.panel-item {
  padding: 10px 15px;
  border: solid lightgrey 1px;
  margin: 7px 0;
  color: #42A5F5;
  font-size: 40px;
}
