#refer-a-friend {
  color: #fff;
  padding-top: 30px;
}

#refer-a-friend img{
  height: 150px;
  width: 150px;
  margin-left: 25px;
}

.refer-text p {
  font-size: 40px;
}

.refer-icon {
  font-size: 180px;
  padding-left: 20px;
}

.refer-button {
  margin: 20px 0 30px 0;

}

#userMessage {
  color: #A1A1A1;
}

#profile-info {
}

#hello-text{
  font-size: 105px;
  color: #558B2F;
  font-weight: bold;
  text-shadow: 3px 3px black;
}

.picture-container {
  padding-right: 5px;
}

.picture-info {
  padding-top: 150px;
  background-image: url("https://unsplash.it/1280/500/?random");
  background-size: auto;
  background-repeat: no-repeat;
  margin: 30px 0;
  border: solid lightgrey 2px;
  height: 500px;
  opacity: 0.5;
}

.account-container {
  padding-left: 5px;
}
.account-info {
  margin: 30px 0;
  border: solid lightgrey 2px;
}
.account-info span {

}

.plan-1 {
  width: 95%;
  border: solid #2ecc71 2px;
  margin-bottom: 30px;
  background-color: #2ecc71;
  border-radius: 3px;
  box-shadow: 1.5;
}
.plan-2 {
  width: 95%;
  border: solid #3498db 2px;
  margin-bottom: 30px;
  background-color: #3498db;
  border-radius: 3px;
}
.plan-3 {
  width: 95%;
  border: solid #9b59b6 2px;
  margin-bottom: 30px;
  background-color: #9b59b6;
  border-radius: 3px;
}
.plan-4 {
  width: 95%;
  border: solid #f1c40f 2px;
  margin-bottom: 30px;
  background-color: #f1c40f;
  border-radius: 3px;
}
.plan-5 {
  width: 95%;
  border: solid #e67e22 2px;
  margin-bottom: 30px;
  background-color: #e67e22;
  border-radius: 3px;
}
.plan-6 {
  width: 95%;
  border: solid #e74c3c 2px;
  margin-bottom: 30px;
  background-color: #e74c3c;
  border-radius: 3px;
}

.boxshadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
}

.boxshadow::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}

#my-team {
}

.my-team-container {

}

.my-team-info {

  border: solid lightgrey 2px;
}

#invite-friends-modal h4 {
  text-decoration: underline;
}

#payment-with-deposit #form {
  width: 40%;
  margin: 50px auto;
  text-align: center;
}

#payment-with-deposit #form>ul {
  width: 50%;
  margin: 0 auto;
}
