#refer-a-friend {
  color: #fff;
  padding-top: 30px;
}

.refer-text p {
  font-size: 40px;
}

.refer-icon {
  font-size: 180px;
  padding-left: 20px;
}

.refer-button {
  margin: 20px 0 30px 0;

}

#userMessage {
  color: #A1A1A1;
}

#profile-info {
}

#hello-text{
  font-size: 105px;
  color: #558B2F;
  font-weight: bold;
  text-shadow: 3px 3px black;
}

.picture-container {
  padding-right: 5px;
}

.picture-info {
  padding-top: 150px;
  background-image: url("https://unsplash.it/1280/500/?random");
  background-size: auto;
  background-repeat: no-repeat;
  margin: 30px 0;
  border: solid lightgrey 2px;
  height: 500px;
  opacity: 0.5;
}

.account-container {
  padding-left: 5px;
}
.account-info {
  margin: 30px 0;
  border: solid lightgrey 2px;
}
.account-info span {

}

#my-team {
}

.my-team-container {

}

.my-team-info {

  border: solid lightgrey 2px;
}

#invite-friends-modal h4 {
  text-decoration: underline;
}
