#refer-a-friend {
  color: #fff;
  padding-top: 30px;
}

.refer-text p {
  font-size: 40px;
}

.refer-icon {
  font-size: 180px;
  padding-left: 20px;
}

.refer-button {
  margin: 20px 0 30px 0;

}

#profile-info {
}

.picture-container {
  padding-right: 5px;
}

.picture-info {
  margin: 30px 0;
  border: solid lightgrey 2px;
}

.account-container {
  padding-left: 5px;
}
.account-info {
  margin: 30px 0;
  border: solid lightgrey 2px;
}
.account-info span {

}

#my-team {
}

.my-team-container {

}

.my-team-info {

  border: solid lightgrey 2px;
}

#invite-friends-modal h4 {
  text-decoration: underline;
}
